{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Socorro Animal Shelter</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">


    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/index">City of Socorro Animal Shelter</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Adoption Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Donate or Volunteer</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">Donate/Volunteer</li>
        </ol>

        <img src="http://www.lakelandanimalshelter.org/images/uploads/slideshow_images/8/lakeland-donate_banner__large.jpg">
        <br><br>
        <h3>Donations</h3>
        <p>We appreciate donations any time of the year. Donated items can be brought to our shelter during regular business hours. No appointment is necessary.</p>
        <h5>We accept the following items:</h5>
        <p>
                <ul>
                    <li>Cat scratchers</li>
                    <li>Dog beds</li>
                    <li>Cat beds</li>
                    <li>Exercise pens</li>
                    <li>Newspapers</li>
                    <li>Canned tuna</li>
                    <li>Dish soap</li>
                    <li>Sponges</li>
                    <li>Kleenex</li>
                    <li>Collapsible cat tunnels</li>
                </ul>
        </p>
        <br>
        <h5>We <b>CANNOT</b> accept the following items:</h5>
        <p>
                <ul>
                    <li>Homemade dog treats</li>
                    <li>Old computer equipment</li>
                    <li>Medical supplies</li>
                    <li>Medication</li>
                    <li>Pesticide products</li>
                    <li>Used litter boxes</li>
                    <li>Old clothing</li>
                    <li>Sheets, pillows, pillow cases, comforters</li>
                    <li>Raw hides</li>
                    <li>Anything broken or missing pieces</li>
                </ul>
        </p>
        <br>
        <h4>How to volunteer:</h4>
        <p>We love our volunteers! Come down to our shelter to see what you can do to help us out. Some of the things you can expect to do when volunteering include:
                <ul>
                    <li>Walking dogs</li>
                    <li>Washing dogs</li>
                    <li>Cleaning pens</li>
                    <li>Playing with cats</li>
                    <li>Cleaning litter boxes</li>
                </ul>
        </p><br>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Jane Lu 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/tether/tether.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
